<ion-header>
  <ion-toolbar>
    <ion-title>
      Quiz récents
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="history.length > 0">

    <ion-item *ngFor="let quiz of history">

      <ion-icon name="trophy-outline" slot="start"></ion-icon>

      <ion-label>
        <h2>{{ quiz.category }}</h2>
        <p>
          Difficulté : {{ quiz.difficulty }}
        </p>
        <p>
          Score : {{ quiz.money }} $
        </p>
        <p>
          {{ quiz.date }}
        </p>
      </ion-label>

    </ion-item>

  </ion-list>


  <div *ngIf="history.length === 0" class="empty">
    <ion-icon name="game-controller-outline"></ion-icon>
    <h2>Aucun quiz récent</h2>
    <p>Fais un quiz pour voir ton historique ici.</p>
  </div>

</ion-content>

<div class="background-shapes">

  <div class="shape shape1"></div>

  <div class="shape shape2"></div>

  <div class="shape shape3"></div>

</div>